# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8787
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=change-me-in-production

# Backend (opcional en front, usado en server/.env)
# DATABASE_URL=postgres://bookia:bookia_pass@localhost:5432/bookia
# DATABASE_URL_APP=postgres://bookia_app:bookia_app_pass@localhost:5432/bookia

# Wompi (opcional)
# WOMPI_PUBLIC_KEY=
# WOMPI_PRIVATE_KEY=
# WOMPI_EVENTS_KEY=
# WOMPI_SANDBOX=true
